.clan-info {
  background-color: black;
  color: #fff;
}

#collapse, .ant-collapse-header {
  background-color: black;
  color: #fff !important;
}

#collapse1 {
  background-color: black;
  color: #fff;
  padding: 20px;
}

.ant-collapse-content-box {
  margin: 0px !important;
  padding: 0px !important;
}
