.antd-drop-down {
  background-color: #000000 !important;
  color: #fff !important;
  border: none;
  max-height: 1000px;
  overflow: auto;
}

.antd-drop-down :hover {
  background-color: #000000 !important;
  color: #fff !important;
  border-bottom: 1px solid #fff;
}
