@font-face {
    font-family: 'Articulat CF';
    src: url('../fonts/ArticulatCF-Text.woff2') format('woff2'),
        url('../fonts/ArticulatCF-Text.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ../fonts/ArticulatCF-Text.woff2 */
@font-face {
    font-family: 'Articulat CF';
    src: url('../fonts/ArticulatCF-Medium.woff2') format('woff2'),
        url('../fonts/ArticulatCF-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF';
    src: url('../fonts/ArticulatCF-ExtraBold.woff2') format('woff2'),
        url('../fonts/ArticulatCF-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

